/* fonts */
@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('../files/fonts/HiraginoMinchoProNW3.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('../files/fonts/HiraginoMinchoProNW6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-padding-top: 150px; /* height of header + 20px */
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* fixed navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #16161d;
    display: flex;
    z-index: 1000;
    padding: 12px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.navbar.raise {
    transform: translateY(-130px); /* raise and lower navbar on click */
}

.navbar-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    transition: transform 0.5s;
}

/* profile and home images in the navbar */
.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
}

.home-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.home-img {
    width: 85px;
    height: 85px;
    padding-top: 4px;
}

.profile-link, .home-link {
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
}

/* nav links in the navbar */
.nav-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
    color: #ffffff;
    margin: auto;
}

.nav-link-chunk {
    display: flex;
    flex-wrap: nowrap;
}

.nav-link {
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    margin-left: 24px;
    font-size: 32px;
}

.nav-link:hover {
    opacity: 0.75;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #ffffff;
}

.navbar-toggle {
    position: absolute;
    top: 132px;
    right: 40px;
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-toggle-img {
    width: 28px;
    height: 28px;
    transition: transform 0.5s ease;
}

.navbar-toggle-img.flip {
    transform: rotate(180deg);
}

/* words */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 16px;
}

/* list tabbing */
ul, ol {
    padding-left: 40px;
    margin-top: 8px;
}

li {
    font-size: 16px;
    padding-right: 30px;
}

/* content area */
.content {
    flex: 1;
    margin: 150px 28px;
    transition: transform 0.5s;
}

.content.raise {
    transform: translateY(-130px); /* move content up when navbar clicks (height set in js) */
}

/* headings */
.masthead-heading {
    margin-block: 0em .5em;
}

.masthead-subheading {
    padding-right: 32px;
}

.project-link:visited {
    color: blue;
}

.section-heading,
.footer-heading {
    margin-block: 1.5em .5em;
}

.section-paragraph-hobbies {
    text-indent: 48px;
}

.footer-img {
    width: 76px;
    height: 76px;
    transition: opacity 1s;
}

.footer-img:hover {
    opacity: 0.85;
}

.right-align-text {
    float: right;
    padding-right: 8px;
}

@media (max-width: 1200px) {

    html {
        scroll-padding-top: 110px; /* height of header + 20px */
    }

    .navbar.raise {
        transform: translateY(-90px); /* move content up when navbar clicks (height set in js) */
    }

    .profile-image, .home-image {
        min-width: 60px;
        height: 60px;
        width: 60px;
        margin-right: 4px;
    }

    .home-img {
        height: 50px;
        width: 50px;
    }

    .nav-links {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 16px;
    }

    .nav-link-chunk {
        width: 100%;
    }

    .nav-link {
        margin: 4px 20px;
        font-size: 16px;
        margin-left: 0; /* Remove left margin on small screens */
        width: 24%;
    }

    .navbar-toggle {
        top: 90px;
    }
    .content {
        margin-top: 110px;
    }

    .content.raise {
        transform: translateY(-90px); /* move content up when navbar clicks (height set in js) */
    }

    .footer-img {
        width: 32px;
        height: 32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /* unordered list tabbing */
    ul {
        padding-left: 20px;
    }

    li {
        font-size: 14px;
        padding-right: 20px;
    }
}