/* fonts */
@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('../files/fonts/HiraginoMinchoProNW3.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('../files/fonts/HiraginoMinchoProNW6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-padding-top: 150px; /* height of header + 20px */
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* fixed navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #16161d;
    display: flex;
    z-index: 1000;
    padding: 12px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.navbar.raise {
    transform: translateY(-130px); /* raise and lower navbar on click */
}

.navbar-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    transition: transform 0.5s;
}

/* profile image in the navbar */
.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.profile-link {
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
}

/* nav links in the navbar */
.nav-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
    color: #ffffff;
    margin: auto;
}

.nav-link {
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    margin-left: 24px;
    font-size: 36px;
}

.nav-link:hover {
    opacity: 0.75;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #ffffff;
}

.navbar-toggle {
    position: absolute;
    top: 132px;
    right: 40px;
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-toggle-img {
    width: 28px;
    height: 28px;
    transition: transform 0.5s ease;
}

.navbar-toggle-img.flip {
    transform: rotate(180deg);
}

/* words */
h1,
h2,
h3,
h4,
p,
li {
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 22px;
}

/* unordered list tabbing */
ul {
    padding-left: 40px;
}

li {
    font-size: 20px;
    padding-right: 30px;
}

/* content area */
.content {
    flex: 1;
    margin-top: 150px;
    margin-left: 28px;
    transition: transform 0.5s;
}

.content.raise {
    transform: translateY(-130px); /* move content up when navbar clicks (height set in js) */
}

/* headings */
.masthead-heading {
    margin-block: 0em .5em;
}

.masthead-subheading {
    padding-right: 32px;
}

.section-heading,
.footer-heading {
    margin-block: 1.5em .5em;
}

.footer-img {
    width: 76px;
    height: 76px;
}

/* sections */
#about,
#education,
#experience,
#projects,
#contact {}

.right-align-text {
    float: right;
    padding-right: 36px;
}

@media (max-width: 1160px) {

    html {
        scroll-padding-top: 130px; /* height of header + 20px */
    }

    .navbar.raise {
        transform: translateY(-90px); /* move content up when navbar clicks (height set in js) */
    }

    .profile-image {
        width: 60px;
        height: 60px;
        margin-right: 4px;
    }

    .profile-img {
        height: 30%;
    }

    .nav-link {
        margin: 8px;
        font-size: 24px;
    }

    .navbar-toggle {
        top: 90px;
    }
    .content {
        margin-top: 110px;
    }

    .content.raise {
        transform: translateY(-90px); /* move content up when navbar clicks (height set in js) */
    }
}