/* fonts */
@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('/files/HiraginoMinchoProNW3.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HiraginoMinchoProN';
    src: url('/files/HiraginoMinchoProNW6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* fixed navigation bar */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.5s;
    background-color: #16161d;
    z-index: 1000;
    /* Ensure the navbar stays on top of other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.raise {
    transform: translateY(-100%); /* raise and lower navbar on click */
}

.navbar-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    transition: transform 0.5s;
}

/* profile image in the navbar */
.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 125px;
    height: 125px;
    margin-right: 12px;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.profile-link {
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
}

/* nav links in the navbar */
.nav-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
    color: #ffffff;
    margin: auto;
}

.nav-link {
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    margin-left: 24px;
    font-size: 36px;
}

.nav-link:hover {
    opacity: 0.75;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #ffffff;
}

.navbar-toggle {
    position: absolute;
    top: 145px;
    right: 40px;
    width: 20px;
    height: 20px;
    background-color: #ff00ff;
    font-size: 20px;
}

@media (max-width: 1090px) {
    .navbar {
        padding: 8px 16px;
        /* Adjust padding for smaller screens */
    }

    .profile-image {
        width: 100px;
        /* Reduce profile image size */
        height: 100px;
        margin-right: 12px;
        /* Adjust margin for smaller screens */
    }

    .nav-link {
        margin: 8px;
        /* Adjust margin for smaller screens */
        font-size: 32px;
        /* Adjust font size for smaller screens */
    }

    .navbar-toggle {
        position: absolute;
        top: 115px;
        right: 50px;
        background-color: #ffffff;
        font-size: 20px;
    }

    .content.raise {
        transform: translateY(-120px); /* move content up when navbar clicks (height set in js) */
    }
}

/* words */
h1,
h2,
h3,
h4,
p,
li {
    font-family: 'HiraginoMinchoProN', serif;
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 22px;
}

/* unordered list tabbing */
ul {
    padding-left: 40px;
}

li {
    font-size: 20px;
}

/* content area */
.content {
    flex: 1;
    margin-left: 24px;
    transition: transform 0.5s;
}

.content.raise {
    transform: translateY(-150px); /* move content up when navbar clicks (height set in js) */
}

/* headings */
.masthead-heading {
    margin-block: 0em .5em;
}

.section-heading,
.footer-heading {
    margin-block: 1.5em .5em;
}

/* sections */
#about,
#education,
#experience,
#projects,
#contact {}